* @giorgioangel @pmh47

/deprecated/crackle-viewer/ @jrudolph

/deprecated/vesuvius-c/ @jrudolph

/foundation/ @jrudolph

/ink-detection/ @erdpx

/lasagna/ @hendrikschilling

/scrollprize.org/ @skyward7187 @giorgioangel @pmh47

/vesuvius/ @jrudolph @bruniss

/volume-cartographer/ @hendrikschilling

/volume-cartographer/scripts/spiral @pmh47
